<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <a href="{{ post.url | relative_url }}">
                                    <h1>{{ post.title }}</h1>
                                    <p class="subtitle">{{ post.description }}</p>
                                    <p class="right">
                                        {{ post.author }}
                                        {{ post.date | date: '%d.%m.%Y'}}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>